[Unit]
Description=Node Exporter v{{ nodeexporter_version }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ nodeexporter_user }}
Group={{ nodeexporter_group }}
ExecStart={{ nodeexporter_installation_dir }}/nodeexporter/node_exporter {{ nodeexporter_args | join(' ') }}

SyslogIdentifier=nodeexporter
Restart=always

[Install]
WantedBy=multi-user.target
