[Unit]
Description=Grafana v{{ grafana_version }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ grafana_user }}
Group={{ grafana_group }}
Type=simple
Restart=on-failure
WorkingDirectory={{ grafana_installation_dir }}/grafana
RuntimeDirectory=grafana
RuntimeDirectoryMode=0750
ExecStart={{ grafana_installation_dir }}/grafana/bin/grafana server     \
        --config={{ grafana_config_file_path }}                         \
        --pidfile=/var/run/grafana/grafana-server.pid                   \
        cfg:default.paths.logs={{ grafana_logs_dir }}/grafana           \
        cfg:default.paths.data={{ grafana_data_dir }}                   \
        cfg:default.paths.plugins={{ grafana_plugins_dir }}             \
        cfg:default.paths.provisioning={{ grafana_provisioning_dir }}


LimitNOFILE=10000
TimeoutStopSec=20
CapabilityBoundingSet=
DeviceAllow=
LockPersonality=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0027

[Install]
WantedBy=multi-user.target
