[Unit]
Description=Prometheus v{{ prometheus_version }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP \$MAINPID
ExecStart={{ prometheus_installation_dir }}/prometheus/prometheus \
  --config.file={{ prometheus_installation_dir }}/prometheus/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_dir }} \
  --web.console.templates={{ prometheus_installation_dir }}/prometheus/consoles \
  --web.console.libraries={{ prometheus_installation_dir }}/prometheus/console_libraries {{ prometheus_service_args | join(' ') }}

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
