[Unit]
Description="Consul v{{ consul_version }}"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_dir }}/consul.hcl

[Service]
EnvironmentFile=-{{ consul_installation_dir }}/consul/consul.env
User={{ consul_user }}
Group={{ consul_group }}
ExecStart={{ consul_installation_dir }}/consul/consul agent -config-dir={{ consul_config_dir }}/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

