[Unit]
Description=Jenkins Server {{ jenkins_supported_versions[jenkins_version]['version'] }}
Requires=network.target
After=network.target

[Service]
Type=notify
NotifyAccess=main
ExecStart={{ jenkins_java_bin_path }} {{ jenkins_java_options | join(' ') }} -jar {{ jenkins_installation_dir }}/jenkins/jenkins.war {{ jenkins_args | join(' ') }}
Restart=on-failure
SuccessExitStatus=143
User={{ jenkins_user }}
Group={{ jenkins_group }}
WorkingDirectory={{ jenkins_data_dir }}

[Install]
WantedBy=multi-user.target
